/*-------------------root------------------------*/
*{
	margin: 0;
	padding: 0;

}
body{
	overflow-x: hidden;
	width: 100%;
	-display: block;
	-height: 100%;
}

/*--------------------nav_bar--------------------------*/

.nav_bar{
  background-color: #fafafa;
  height: 60px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  position: relative;
  position: fixed;
  width: 100%;

}
.nav_bar h3{
  font-size: 30px;
  color: #54d17a;
  padding:10px;
  margin-left: 40px;
  cursor: move;
}
.nav_bar h3:hover{
  cursor: cell;
}

.nav_bar ul{
  float: right;
  margin-top: -33px;
}
.nav_bar li{
  height: 50px;
	display: inline;
  margin-right: 40px;
	z-index:999999;
}
li a{
  text-decoration: none;
  padding: 20px;
  line-height: 50%;
  font-size: 20px;
  margin-top: -49px;
  color: rgba(0,0,0,.4);
}
li a:hover{
	color: #54d17a;
	text-decoration: none;
  background: rgba(0,0,0,.3);
}
/*--------------------header----------------------------------------------------*/
.video-wrap{
  background-image: url(../img/header.png);
  background-size: cover;
  background-attachment:fixed;
  height: 630px;
}
.header_content{

	margin: auto;
	-z-index: -3;
	color: #fff;
	-position: fixed;
}
.header_content h1{
	text-transform: uppercase;
	-margin-top: -650px;
	font-size: 70px;
	padding: 120px 50px;
	-background: rgba(0,0,0,.4);
	width:120px;
	font-family: 'Abril Fatface', cursive;
	font-weight: lighter;
}
.header_content p{
	-float: right;
	padding-left: 140px;
	margin-top: -310px;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: thin;
	background: rgba(0,0,0,.5);
	animation: type 7s steps(108);
	overflow: hidden;
	white-space: nowrap;
	width: 600px;

}
span{
	color:#54d17a;
	font-family:'Open Sans', sans-serif;
	font-weight: lighter;

}
.btn-a{
	right: 0;
	float: right;
	margin-top: -120px;
	margin-right: -400px;
	-border: 1px solid white;
	-webkit-border-radius: 10px;
	outline: 1px solid rgba(255,255,255,.7)
	-webkit-transition:all .7s;
	width:150px;
	height: 10px;
	text-align: center;
	z-index: 2;
	background: #dc3545;
}
.btn-b{
	right: 0;
	float: right;
	margin-top: -50px;
	margin-right: -400px;
	border: 1px solid white;
	-webkit-border-radius: 10px;
	outline: 1px solid rgba(255,255,255,.7)
	-webkit-transition:all .7s;
	width:150px;
	height: 10px;
	text-align: center;
	z-index: 2;
}
a{
	padding: 20px;
	text-decoration: none;
	color: #000;
	font-size:13px;

	line-height: 10px;
	-z-index: 100;

}
.btn-a,.btn-b{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}
.btn-a:hover,.btn-b:hover{
	text-decoration: none;
	color: #fff;
}

a:hover .btn-a{
	color: #54d17a;
	text-decoration: none;
	background-color:rgba(0,0,0,.2);
	-border-bottom:1px solid black;
}
a:hover .btn-b{
	color: #e3e3e3;
	text-decoration: none;

}
.btn-a, .btn-b{
	color:white;
}
.btn-b:hover {
  background-color: #e83e8c;
	box-shadow: 1px 1px 0 rgba(0,0,0,.6);
}
.btn-a:hover{
	background-color: #e83e8c;
	box-shadow: 1px 1px 0 rgba(0,0,0,.6);
}
/*--------------------About----------------------------------------------------*/
.section1 {
	padding: 30px;
	-margin-top: 250px;
	-border-bottom: 2px solid #e3e3e3;
  height: 500px;
}
.section1 h4{
	border-left: 2px solid #54d17a;
	margin-left: 45%;
	padding: 10px;
	margin-bottom: 90px;
	margin-top: 50px;
	text-shadow: 0 1px 0 #e3e3e3;
	font-size: 40px;
}
.section1 p{
	margin-top: -50px;
	text-transform: lowercase;
	color: #9b9b9b;
	font-weight: 300;
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 2px;
}
.section1 p::first-letter{
	text-transform: uppercase;
}
.section1 img{
	float: right;
	margin-right: 10px;
	margin-top: -220px;
	height: 450px;
}
.section1 .btn{
  padding-top: -200px;
  margin-left: -1px;
  border: 1px solid #e3e3e3;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  width: 200px;
  border-radius: 15px;
  background-color: #54d17a;
  color: #fff;
}
.section1 .btn:hover{
	text-shadow: 1px 0 0 rgba(0,0,0,.2);
	box-shadow:  0 1px 0 rgba(0,0,0,.2);
}
/*--------------------Background and Interests----------------------------------------------------*/
.section2{
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
	background-attachment: fixed;

}
.section2 h4{
	border-left: 2px solid #54d17a;
	margin-left: 44%;
	-text-align: center;
	padding: 10px;
	margin-bottom: 90px;
	margin-top: 100px;
	text-shadow: 0 1px 0 #e3e3e3;
	font-size: 40px;
}
.section2 span{
	text-shadow: 1px 1px 0 #000;
}
.section2 h5{
	margin:auto;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	text-shadow: 0 1px 0 #e3e3e3;
}
.section2 p{
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 2px;
}
/*--------------------Work----------------------------------------------------*/
